@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto&display=swap');
.home {
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: covers;
    background-image: url('../images/nike2.jpg');
}
/* nếu bỏ slide thì bỏ cái này home-av và position: absolute dòng 25 */
/* .home-nav {
    position: relative;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
} */
.home .headerContainer{
    width: auto;
    margin-left: 30px;
    /* position: absolute; */
}
.home .headerContainer h1{
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Poppins' , sans-serif ;
    color: #EC870E;
}
.home .headerContainer p {
    margin-top: 15px;
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: #F5B16D;
}
.home .headerContainer a {
    text-decoration: none;
}
.home .headerContainer button {
    margin-top: 20px;
    border: none;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    height: 50px;
    width: 180px;
    display: inline-block;
    border: 1px solid #5478d5;
    transition: all 0.5s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    color: white;
    z-index: 1;
    border-radius: 45px;
}
.home .headerContainer button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
.home .headerContainer button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
.home .headerContainer button:hover {
    border: 1px solid #39bda7;
   }
   
.home .headerContainer button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
.home .headerContainer button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
@media only screen and (max-width: 600px){
    .home{
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: covers;
        object-fit: fill;
        background-image: url('../images/poster4.jpg');
    }
    .headerContainer{
        align-items: center;
        margin-left: 0;
        border-radius: 10px;
        width: 80%;
        color: white;
        background-color: #1d2124;
    }
    .home .headerContainer h1 {
        font-size: 40px;
        margin: 15px 15px;
        color: white;
    }
    .home .headerContainer p {
        font-size: 20px;
        color: white;
        text-align: center;
    }
    .home .headerContainer button {
        background-color: white;
        margin-bottom: 30px;
        margin-left: 43px;
        color: black;
        width: 220px;
    }
    .home.headerContainer button:hover{
        background-color: #0709;
        cursor: pointer;
        transition: 0.3s ease-in ;
    }
}