.btn {
    border: 1px solid #E6E6FA !important;
    color: black !important;
    font-weight: bold !important;
}
.btns {
    border: 1px solid #E6E6FA !important;
    color: black !important;
    font-weight: bold !important;
}
.btn:hover {
    border: 1px solid #FF9933 !important;
    background: white important;
}
.btns:hover {
    border: 1px solid #FF9933 !important;
    background: white !important;
}
.error{
    color: red;
    margin-left: 5px;
    margin-bottom: 4px;
    font-size: 12px;
    text-align: left;
}
@media (max-width: 600px) {
    .paper {
        width: 430px !important;
        transition: all .5s linear;
    }
    .tyh2 {
        font-size: 14px !important;
        transition: all .5s linear;
    }
    .or {
        font-size: 13px !important;
        transition: all .5s linear;
    }
    .btn {
        font-size: 13px !important;
        padding: 2px 10px !important;
        transition: all .5s linear;
    }
    .btns {
        font-size: 13px !important;
        padding: 2px 10px !important;
        transition: all .5s linear;
    }
    .icon {
        font-size: 16px !important;
        transition: all .5s linear;
    }
    .tyac {
        font-size: 13px !important;
        transition: all .5s linear;
    }
}