.navLink{
    text-decoration: none;
    color: black;
    margin-right: 12px;
}
/* sài cardMedia thì ẩn đi nhé dòng 7 tới 23 */
.main-slide {
    margin: 30px;
}
.carousel {
    text-align: center;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.carousel .slider-wrapper {
    width: 750px !important;
    height: 600px;
}
.carousel .slide img {
    width: 700px !important;
    height: 572px;
}
.carousel .thumbs {
    width: 5%;
}
/* .carousel .carousel-slider{
    width: 672px !important;
    height: 600px;
} */
@media (max-width: 600px) {
    .card {
        flex-direction: column;
    }
    .media {
        width: 377px !important;
        height: 360px !important;
    }
    .title {
        font-size: 20px !important;
    }
    .cate {
        font-size: 12px !important;
    }
    .des {
        font-size: 13px !important;
    }
    .quanlity {
        font-size: 13px !important;
        padding: 6px !important;
    }
    .price {
        font-size: 30px !important;
    }
    .tel {
        font-size: 14px !important;
    }
    /* Carousel */
    .main-slide {
       margin: 0;
       padding-top: 30px;
    }
    .carousel .slider-wrapper {
        width: 377px !important;
        height: 360px;
    }
    .carousel .slide img {
        width: 347px !important;
        height: 360px;
    }
    
}