.navLink{
    text-decoration: none;
    color: black;
    margin-right: 12px;
}
.navLinkBreadcrumb {
    text-decoration: none;
    color: black;
}
.shop {
    color: darkgray;
}
.shop:hover {
    text-decoration: underline;
}
/* sài cardMedia thì ẩn đi nhé dòng 7 tới 23 */
.main-slide {
    margin: 30px;
}
.carousel {
    text-align: center;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.carousel .slider-wrapper {
    width: 750px !important;
    height: 600px;
}
.carousel .slide img {
    width: 700px !important;
    height: 572px;
    object-fit: cover;
}
.carousel .thumbs {
    width: 5%;
}
/* .carousel .carousel-slider{
    width: 672px !important;
    height: 600px;
} */
@media (max-width: 600px) {
    .card {
        flex-direction: column;
        transition: all .5s linear;
    }
    .media {
        width: 377px !important;
        height: 360px !important;
        transition: all .5s linear;
    }
    .title {
        font-size: 18px !important;
        transition: all .5s linear;
    }
    .cate {
        font-size: 10.5px !important;
        transition: all .5s linear;
    }
    .des {
        font-size: 12px !important;
        transition: all .5s linear;
    }
    .quanlity {
        font-size: 13px !important;
        padding: 6px !important;
        transition: all .5s linear;
    }
    .price {
        font-size: 30px !important;
        transition: all .5s linear;
    }
    .tel {
        font-size: 12px !important;
        transition: all .5s linear;
    }
    .teltilte{
        font-size: 11px !important;
        margin-top: 5px !important;
        transition: all .5s linear;
    }
    .navLinkBreadcrumb {
        font-size: 13px;
        transition: all .5s linear;
    }
    /* Carousel */
    .main-slide {
       margin: 0;
       padding-top: 30px;
       transition: all .5s linear;
    }
    .carousel .slider-wrapper {
        width: 377px !important;
        height: 360px;
        transition: all .5s linear;
    }
    .carousel .slide img {
        width: 347px !important;
        height: 360px;
        transition: all .5s linear;
    }
    
}