/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@300&display=swap');
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* transition: all .3s linear; */
    
}
body {
    font-family: "roboto",sans-serif;
    /* font-family: "Poppins",sans-serif !important; */
}
